<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myfirstprojiet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="maniactivity.HomepageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--所有注册列表-->
        <activity android:name="maniactivity.AddressPageActivity"/>
        <activity android:name="maniactivity.AroundPageActivity"/>
        <activity android:name="maniactivity.ChatPageActivity"/>
        <activity android:name="maniactivity.ConcernPageActivity"/>
        <activity android:name="maniactivity.DetailedInfomationPageActivity"/>
        <activity android:name="maniactivity.DiscountPageActivity"/>
        <activity android:name="maniactivity.EditDataPageActivity"/>
        <activity android:name="maniactivity.EvaluatePageActivity"/>
        <activity android:name="maniactivity.FollowingPageActivity"/>
        <activity android:name="maniactivity.ForgetPassWordPageActivity"/>
        <activity android:name="maniactivity.HeadBackgroundPageActivity"/>
        <activity android:name="maniactivity.HeadPageActivity"/>
        <!--<activity android:name="maniactivity.HomepageActivity"/>-->
        <activity android:name="maniactivity.HotMenuPageActivity"/>
        <activity android:name="maniactivity.InformationPageActivity"/>
        <activity android:name="maniactivity.KitchenPageActivity"/>
        <activity android:name="maniactivity.LogInPageActivity"/>
        <activity android:name="maniactivity.LoginQQPageActivity"/>
        <activity android:name="maniactivity.LogUpPageActivity"/>

        <activity android:name="maniactivity.MenuBottomPageActivity">
<!--            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name="maniactivity.MenuClassFicationPageActivity"/>
        <activity android:name="maniactivity.MorePageActivity"/>
        <activity android:name="maniactivity.MycollectionOrderPageActivity"/>
        <activity android:name="maniactivity.MyCollectionPageActivity"/>
        <activity android:name="maniactivity.MyConcernPageActivity"/>
        <activity android:name="maniactivity.MyFansPageActivity"/>
        <activity android:name="maniactivity.MyHomePageLayoutActivity"/>
        <activity android:name="maniactivity.MyMenuPageActivity"/>
        <activity android:name="maniactivity.MyOrderPageActivity"/>
        <activity android:name="maniactivity.MyWorksPageActivity"/>
        <activity android:name="maniactivity.NumberPageActivity"/>
        <activity android:name="maniactivity.NutritionMorningPageActivity"/>
        <activity android:name="maniactivity.PassByPageActivity"/>
        <activity android:name="maniactivity.PassWorkPageActivity"/>
        <activity android:name="maniactivity.RankingListPageActivity"/>
        <activity android:name="maniactivity.SearchLayoutActivity"/>
        <activity android:name="maniactivity.SearchPageActivity"/>
        <activity android:name="maniactivity.SetPassWordPageActivity"/>
        <activity android:name="maniactivity.ShoppingCartPageActivity"/>
        <activity android:name="maniactivity.StatisticsPageActivity"/>
        <activity android:name="maniactivity.TeachCookPageActivity"/>
        <activity android:name="maniactivity.UpLoadMenuPageActivity"/>
        <activity android:name="maniactivity.UpLoadWorkPageActivity"/>
        <activity android:name="maniactivity.VegetableBasketPageActivity"/>



    </application>

</manifest>